body
{
font-family:'Nimbus Sans L';
width:100%;

margin:auto;
}

h2
{
color:rgb(10,0,60)
}



.container{

width:80%;
margin:auto;
height:425px;
}

.formulaire{
margin-top:100px;
}

.form{

display:flex;
flex-direction:column;
width:500px;
justify-content:center;
}

.form .element{

margin-bottom:10px;
margin-left:0px;
}

.form .element:nth-child(1){
margin-left:0px;
width:200px;
}

.form .element:nth-child(2){
width:200px;

}


.form .element:nth-child(4){
width:200px;

}

.form .element:nth-child(5){
height:80px;
width:500px;
}

.form .element:nth-child(6){
width:200px;

}


