body
{
font-family:'Nimbus Sans L';
width:100%;

margin:auto;
}

h2
{
color:rgb(10,0,60)
}



.slogan
{
font-size:2em;
height:100px;
margin-top:65px;
margin-bottom:10px;
}

.container{
margin-top:150px;
width:80%;
margin:auto;
height:300px;
}

.formulaire{
margin-top:100px;
}

.form{

display:flex;
flex-direction:column;
width:500px;
justify-content:center;
}

.form .element{
margin:auto;
margin-bottom:10px;
}

.form .element:nth-child(1){

width:200px;
}

.form .element:nth-child(2){
width:200px;

}


.form .element:nth-child(4){
width:200px;

}

.form .element:nth-child(6){
width:200px;

}


