body
{
font-family:'Nimbus Sans L';
width:100%;
height:100%;
margin:auto;
}

h2
{
color:rgb(10,0,60)
}

img
{
border-bottom:4px solid rgb(10,0,60);
border-left:4px solid rgb(10,0,60);
box-shadow:5px 5px 5px 2px rgba(10,0,60,0.5);
}

.slogan
{
font-size:2em;
height:100px;
margin-top:65px;
margin-bottom:10px;
}

.header{
background-color:rgb(100,0,180);
}

header
{
width:100%;
background-color:white;
}

#header{

display:flex;
height:120px;
justify-content:center;
box-shadow:6px 6px 6px rgba(10,0,60,0.8);
}

header img{
width:18%;


}

nav ul
{
list-style-type:none;
display:flex;
}

nav li
{
margin-right: 55px;
}

nav a
{
color:rgb(10,0,60);
text-decoration:none;
font-family:verdana;
font-size:1.3em;
}

nav a:hover{
color:rgb(20,0,60);
opacity:0.7;
}

.element{
margin:auto;

}

.element:nth-child(1){
margin-left:50px;
flex:1;
}

.element:nth-child(2){
flex:3;
}

.banner{

background-color:rgb(100,0,180);

color:white;
text-align:center;
margin-bottom:50px;
font-family:'Nimbus Sans L';
padding-bottom:80px;
box-shadow:6px 6px 6px rgba(10,0,60,0.8);


}



.container
{
background-color:white;
width:80%;
margin:auto;
}

#slider
{
width:70%;

margin:auto;

}

#slider img
{
width:70%;
}

.img_assoc{
float:right;
width:40%;
margin:20px;
}
